.root {
    -fx-background-color: #515151;
}

#labelTitulo {
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #c0c0c0;
}

#labelJugador {
    -fx-text-fill: white;
}

.radio-button {
    -fx-text-fill:white;
}

.radiobutton {
    -fx-text-fill: white;
}

.button {
    -fx-cursor: hand;
    -fx-background-radius: 20;
    -fx-background-color: #a2a2a2;
    -fx-border-color:white;
    -fx-border-radius:20;
}

.buttonsTresRaya {
    -fx-cursor: default;
    -fx-font-size: 40pt;
    -fx-text-fill: white;
}

.buttonsGanadores {
    -fx-text-fill: blue;
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
}

.labelResultados {
    -fx-font-size: 13pt;
    -fx-min-width: 135pt;
    -fx-alignment: center;
}

.labelResultado0{
    -fx-text-fill: green;
}

.labelResultado1{
    -fx-font-style: italic;
}

.labelResultado2{
    -fx-text-fill: red;
}
