.root {
    -fx-background-color: #dffaf8;
}


#buttons {
    -fx-text-fill: #006464;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: blue;
}

#labelJugador {
    -fx-text-fill: black;
}

.radio-button {
    -fx-text-fill:black;
}

.buttonsGanadores {
    -fx-text-fill: blue;
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
}

.button {
    -fx-cursor: hand;
    -fx-background-radius: 20;
    -fx-border-color:white;
    -fx-border-radius:20;
}

.buttonsTresRaya {
    -fx-cursor: default;
    -fx-font-size: 40pt;
}

.labelResultados {
    -fx-font-size: 13pt;
    -fx-min-width: 135pt;
    -fx-alignment: center;
}

.labelResultado0{
    -fx-text-fill: green;
}

.labelResultado1{
    -fx-font-style: italic;
}

.labelResultado2{
    -fx-text-fill: red;
}



