<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
    <title>Quote of the day</title>
</head>
<body>
<div class="container-fluid bg-dark text-white justify-content-center">
    <h2>MP3-UF6</h2>
</div>
<div class="container-fluid border pt-2 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random">
        <div class="card-boody">
            <h5 class="card.title">Quote o the day</h5>
            <p class="card-text" th:text="${frase}"></p>
            <a href="#" class="btn btn-primary" onclick="window.location.reload();">Refresh</a>
        </div>
    </div>
</div>
</body>
</html>